<div class="header">
  <h1 class="logo">
      <a href="javascript:;" class="link-team-menu">
          <span class="name">laomalaila</span>
          <i class="twr twr-caret-down"></i>
      </a>
  </h1>

  <ul class="nav">
      <li class="" id="nav-project">
          <a href="/teams/1e4c353f36b54569ab7d1f3eec2d9776/projects" data-stack="" data-stack-root="">项目</a>
      </li>
      <li class="active" id="nav-events">
          <a href="/teams/1e4c353f36b54569ab7d1f3eec2d9776/events" data-stack="" data-stack-root="">动态</a>
      </li>
      <li class="" id="nav-calendar">
          <a href="/teams/1e4c353f36b54569ab7d1f3eec2d9776/calendars" data-stack="" data-stack-fluid="" data-stack-root="">日历</a>
      </li>

          <li class="" id="nav-week">
              <a href="/teams/1e4c353f36b54569ab7d1f3eec2d9776/weekly_reports" data-stack="" data-stack-root="">周报</a>
          </li>

      <li class="" id="nav-members">
          <a href="/teams/1e4c353f36b54569ab7d1f3eec2d9776/members" data-stack="" data-stack-root="">团队</a>
      </li>
      <li class="" id="nav-me">
          <a href="/members/593c1a0d300a40ae9b9d5890f9c0930b?me=1" data-stack="" data-stack-root="">我自己</a>
      </li>
  </ul>

  <div class="command-bar">
      <div class="search-wrap">
          <a href="javascript:;" class="link-search" title="搜索"><i class="twr twr-search"></i></a>
          <form id="form-search" class="form" method="get" action="/teams/1e4c353f36b54569ab7d1f3eec2d9776/search">
              <input id="txt-search" type="text" class="keyword no-border" name="keyword" placeholder="搜索" autocomplete="off">
          </form>
      </div>
      <div class="notification-info">
          <a href="javascript:;" id="notification-count" class="label " title="新的通知" data-unread-count="0" data-url="/teams/1e4c353f36b54569ab7d1f3eec2d9776/notifications/unread_counts">
              <span class="twr twr-bell-o bell"></span>
              <span class="num">0</span>
          </a>
          <div class="noti-pop">
              <div class="noti-pop-hd">
                  <span class="title">通知</span>
                  <a class="noti-settings" href="/members/593c1a0d300a40ae9b9d5890f9c0930b/notification_settings/" title="设置通知发送方式" data-stack="" data-stack-root="">
                      <i class="twr twr-cog"></i>
                  </a>
                  <a id="noti-mark-read" class="mark-as-read" href="javascript:;" title="全部标记为已读">
                      <i class="twr twr-check"></i>
                  </a>
              </div>
              <div class="noti-pop-list notification-list">
              </div>
              <div class="noti-pop-empty">- 没有新通知 -</div>
              <div class="noti-pop-action">
                  <a class="noti-all-link" href="/teams/1e4c353f36b54569ab7d1f3eec2d9776/notifications/" data-stack="" data-stack-root="">查看全部</a>
              </div>
          </div>
      </div>
      <div class="account-info">
          <div class="member-settings">
              <a class="link-member-menu" href="javascript:;" title="王强生">
                  <img class="avatar" src="/assets/default_avatars/nightfall.jpg" alt="王强生">
                  <span class="twr twr-caret-down"></span>
              </a>
          </div>
      </div>
  </div>
</div>
