<div class='wrapper'>
  <%= render "header" %>

  <div class="container workspace simple-stack simple-stack-transition">
    <div class="page page-root simple-pjax">
      <div class="page-inner" id="page-events" data-page-name="动态" data-since="2016-11-03 02:54:27 UTC">
        <%= react_component 'EventsApp', props: @props %>

<a href="javascript:;" id="btn-load-more" class="over" style="display: block;">没有更多内容了</a>
      </div>
    </div>
  </div>
  <%= render "footer" %>
</div>
