<div class='wrapper'>
  <%= render "header" %>

  <div class="container workspace simple-stack simple-stack-transition">
    <div class="page page-root simple-pjax">
      <div class="page-inner" id="page-events" data-page-name="动态" data-since="2016-11-03 02:54:27 UTC">
        <div class="filters">
          <span class="filters-title">筛选动态</span>
          <div class="filter filter-project">
            <div class="simple-select require-select selected">
              <input type="text" class="select-result" autocomplete="off" placeholder="">
              <span class="link-expand" title="所有选项">
                <i class="icon-caret-down">
                  <span>▾</span></i>
              </span>
              <span class="link-clear" title="清除选择">
                <i class="icon-delete">
                <span>✕</span></i>
              </span>
              <div class="select-list" style="display: none;">
                <div class="select-item all-item selected">
                  <a href="javascript:;" class="label">
                    <span>所有项目、日历和周报</span>
                  </a>
                </div>
                <div class="select-item">
                  <a href="javascript:;" class="label">
                    <span>熟悉Tower</span>
                  </a>
                </div>
                <div class="select-item">
                  <a href="javascript:;" class="label">
                    <span>老麻来啦</span>
                  </a>
                </div>
              </div>
            </div>
            <select id="project-filter-select" style="display: none;">
              <option value="-1" selected="">所有项目、日历和周报</option>
              <option value="715c1e2bf8c045b5879eec6f492bcbde" data-key="shuxitower sxTower 熟悉Tower">
                 熟悉Tower
              </option>
              <option value="48dbafd63883428c98f05544a3608f2f" data-key="laomalaila lmll 老麻来啦">
                老麻来啦
              </option>
            </select>
          </div>

          <div class="filter filter-member">
            <div class="simple-select member-filter require-select selected">
              <input type="text" class="select-result" autocomplete="off" placeholder="">
              <span class="link-expand" title="所有选项">
              <i class="icon-caret-down">
                <span>▾</span>
              </i>
              </span>
              <span class="link-clear" title="清除选择">
                <i class="icon-delete">
                  <span>✕</span>
                </i>
              </span>
              <div class="select-list" style="display: none;">
                <div class="select-item all-item selected">
                  <a href="javascript:;" class="label">
                    <span>所有成员</span>
                  </a>
                </div>
                <div class="select-item member-item">
                  <img src="/assets/default_avatars/noon.jpg" class="avatar">
                  <a href="javascript:;" class="label member-item">
                    <span>淇淇</span>
                  </a>
                </div>
                <div class="select-item member-item">
                  <img src="/assets/default_avatars/nightfall.jpg" class="avatar">
                    <a href="javascript:;" class="label member-item">
                      <span>王强生</span>
                    </a>
                </div>
              </div>
            </div>
            <select id="member-filter-select" style="display: none;">
              <option value="-1" selected="">所有成员</option>
              <option value="4a" data-gavatar="/assets/default_avatars/noon.jpg" data-key="qiqi qq 淇淇">
                淇淇
              </option>
              <option value="593c1a0d300a40ae9b9d5890f9c0930b" data-gavatar="/assets/default_avatars/nightfall.jpg" data-key="wangqiangsheng wqs 王强生">
                王强生
              </option>
           </select>
          </div>
        </div>

        <div class="team-events">
          <div class="events-day" data-absdate="2016-11-02T00:00:00+08:00">
            <h4 class="events-day-title">昨</h4>
            <div class="events-day-content">
              <div class="events-ancestor" data-ancestor-guid="64fc76d9796d4f86920fdfe0660cd3cc">
                <h5 class="events-ancestor-title">
                  <a href="/teams/124c/calendars" target="_blank" title="工作安排">工作安排</a>
                </h5>
                <div class="event event-common event-calendarevent-add" id="event-87764719" data-ancestor-guid="64fc76d9796d4f86920fdfe0660cd3cc" data-ancestor-name="工作安排" data-ancestor-url="/teams/124c/calendars">
                  <a href="/members/4a" class="from" target="_blank">
                    <img alt="淇淇" class="avatar" src="https://tower.im/assets/default_avatars/noon.jpg"></a>
                    <i class="icon-event"></i>
                    <div class="event-main">
                      <div class="event-head">
                        <a href="#event-87764719" data-created-at="2016-11-02T22:09:27+08:00" class="event-created-at">22:09</a>
                        <span class="event-actor">
                          <a href="/members/4a" class="link-member" target="_blank">淇淇</a>
                        </span>
                        <span class="event-action">
                          创建了日程
                        </span>
                        <span class="event-text">
                          <span class="emphasize">
                            <a href="/teams/124c/calendar_events/823f85599c074050a3c8b6e07a321a13" class="calendar_event-rest" data-stack="true">新的日程安排</a>
                          </span>
                        </span>
                      </div>
                     <div class="event-body">
                       <a href="/projects/48ca/todos/c9dd#c563" class="event-text" data-stack="true" title="干的好！">干的好！</a>
                     </div>
                  </div>
                </div>
              </div>

              <div class="events-ancestor" data-ancestor-guid="b40ee937044742cfb92aeb8e5590c9a1">
                <h5 class="events-ancestor-title">
                  <a href="/teams/124c/calendars" target="_blank" title="法定假日">法定假日</a>
                </h5>
                <div class="event event-common event-calendarevent-add" id="event-87764702" data-ancestor-guid="b40ee937044742cfb92aeb8e5590c9a1" data-ancestor-name="法定假日" data-ancestor-url="/teams/124c/calendars">
                 <a href="/members/4a" class="from" target="_blank"><img alt="淇淇" class="avatar" src="https://tower.im/assets/default_avatars/noon.jpg"></a>
                 <i class="icon-event"></i>

                 <div class="event-main">
                   <div class="event-head">
                     <a href="#event-87764702" data-created-at="2016-11-02T22:09:11+08:00" class="event-created-at">22:09</a>
                     <span class="event-actor">
                       <a href="/members/4a" class="link-member" target="_blank">淇淇</a>
                     </span>
                     <span class="event-action">
                       创建了日程
                     </span>
                     <span class="event-text">
                       <span class="emphasize">
                         <a href="/teams/124c/calendar_events/0317a81d0af84802ba3b5dd8db6f6bcd" class="calendar_event-rest" data-stack="true">新的日程安排</a>
                       </span>
                     </span>
                   </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
          <div class="events-day" data-absdate="2016-11-02T00:00:00+08:00">
            <h4 class="events-day-title">昨</h4>
            <div class="events-day-content">
              <div class="events-ancestor" data-ancestor-guid="64fc76d9796d4f86920fdfe0660cd3cc">
                <h5 class="events-ancestor-title">
                  <a href="/teams/124c/calendars" target="_blank" title="工作安排">工作安排</a>
                </h5>
                <div class="event event-common event-calendarevent-add" id="event-87764719" data-ancestor-guid="64fc76d9796d4f86920fdfe0660cd3cc" data-ancestor-name="工作安排" data-ancestor-url="/teams/124c/calendars">
                  <a href="/members/4a" class="from" target="_blank">
                    <img alt="淇淇" class="avatar" src="https://tower.im/assets/default_avatars/noon.jpg"></a>
                    <i class="icon-event"></i>
                    <div class="event-main">
                      <div class="event-head">
                        <a href="#event-87764719" data-created-at="2016-11-02T22:09:27+08:00" class="event-created-at">22:09</a>
                        <span class="event-actor">
                          <a href="/members/4a" class="link-member" target="_blank">淇淇</a>
                        </span>
                        <span class="event-action">
                          创建了日程
                        </span>
                        <span class="event-text">
                          <span class="emphasize">
                            <a href="/teams/124c/calendar_events/823f85599c074050a3c8b6e07a321a13" class="calendar_event-rest" data-stack="true">新的日程安排</a>
                          </span>
                        </span>
                      </div>
                     <div class="event-body">
                       <a href="/projects/48ca/todos/c9dd#c563" class="event-text" data-stack="true" title="干的好！">干的好！</a>
                     </div>
                  </div>
                </div>
              </div>

              <div class="events-ancestor" data-ancestor-guid="b40ee937044742cfb92aeb8e5590c9a1">
                <h5 class="events-ancestor-title">
                  <a href="/teams/124c/calendars" target="_blank" title="法定假日">法定假日</a>
                </h5>
                <div class="event event-common event-calendarevent-add" id="event-87764702" data-ancestor-guid="b40ee937044742cfb92aeb8e5590c9a1" data-ancestor-name="法定假日" data-ancestor-url="/teams/124c/calendars">
                 <a href="/members/4a" class="from" target="_blank"><img alt="淇淇" class="avatar" src="https://tower.im/assets/default_avatars/noon.jpg"></a>
                 <i class="icon-event"></i>

                 <div class="event-main">
                   <div class="event-head">
                     <a href="#event-87764702" data-created-at="2016-11-02T22:09:11+08:00" class="event-created-at">22:09</a>
                     <span class="event-actor">
                       <a href="/members/4a" class="link-member" target="_blank">淇淇</a>
                     </span>
                     <span class="event-action">
                       创建了日程
                     </span>
                     <span class="event-text">
                       <span class="emphasize">
                         <a href="/teams/124c/calendar_events/0317a81d0af84802ba3b5dd8db6f6bcd" class="calendar_event-rest" data-stack="true">新的日程安排</a>
                       </span>
                     </span>
                   </div>
                 </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "footer" %>
</div>
