<!DOCTYPE html>
<html>
  <head>
    <title>Tower</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="mac">
    <div style="width: 100%; margin: 0 auto;">
      <%= yield %>
    </div>
  </body>
</html>
